<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block naslov %}{% endblock %} | Filton Hotel</title>
    {% block timeout %}{% endblock %}
    <link rel="stylesheet" href="/assets/css/style.css">
</head>
<body>
    <h1>Filton Hotel, Las Vegas</h1>
    <p>
    <h3><strong>Dobrodošli v Filton Hotel!</strong></h3>
    </p>

    <a href="/">
        <p><button type="submit">Naslovna stran</button></p>
    </a>
    <a href="/vsa-sporocila">
        <p><button type="submit">Izpis Knjige gostov</button></p>
    </a>
    <a href="/izbrisana-sporocila">
        <p><button type="submit">Izbrisana sporocila</button></p>
    </a>


    {% block vsebina %}
    {% endblock %}

</body>
</html>