{% extends "base.html" %}

{% block naslov %}Izpis Knjige gostov{% endblock %}

{% block vsebina %}
<h3>Izpis Knjige gostov</h3>
    {% for sporocilo in sporocila %}
    <p>
        <strong>Datum nastanka sporočila: </strong>({{ sporocilo.nastanek.strftime('%d-%m-%Y %H:%M:%S') }}) -
        <strong>Ime in Priimek: </strong>{{ sporocilo.ime }},
        <strong>Email: </strong>{{ sporocilo.email }},
        <strong>Sporocilo: </strong>{{ sporocilo.sporocilo }}
    </p>
    {% endfor %}
{% endblock %}

